header{
    background-color: $background-primary;
    p{
        color:blue;
    }
    h1{
        font-size: 3rem;
        font-family: $font-primary;
    }
    .header__button{
        @include button($bg-button: green);
    }
}