$color-primary: rgb(255, 0, 0);
$color-secondary: blue;
$color-terciary: green;

$background-primary: rgb(91, 88, 88);
$background-secondary: rgb(128, 128, 244);
$background-terciary: rgb(229, 240, 158);

$font-primary: 'Lucida Sans';
$font-secondary: Georgia, 'Times New Roman', Times, serif;